@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
:root {
  --mainColor: #10cab7;
  --secondaryColor: #2c4755;
  --sectionPadding: 60px;
  --sectionBackground: #f6f6f6;
  --mainDuration: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: Tajawal;
}

/* Start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header .logo img{
    width: 70px;
}

.header .menu i{
    font-size: 25px;
    cursor: pointer;
}
.header .menu i:hover{
    color: var(--secondaryColor);
}

.header .menu ul{
    background-color: var(--sectionBackground);
    margin-left: -210px;
    padding: 15px 10px;
    margin-top: 23px;
    position: absolute;
    line-height: 2.5;
    list-style: none;
    width: 230px;
    display: none;
    z-index: 99999;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px var(--mainColor);
}

.header .menu i:hover .menu ul{
    display: block;
}
/* End Header */
/* Start Landing Page */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 72px);
    position: relative;
}

.landing .Intro-Text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 360px;
    margin: auto;
    text-align: center;
}

.landing .Intro-Text h1{
    font-size: 70px;
    color: var(--mainColor);
    font-weight: 800;
    margin: 0px 0px;
}
.landing .Intro-Text p{
    font-size: 24px;
    line-height: 1.4;
}
/* End Landing Page */

/* Satrt Faetures */
.features{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBackground);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .container .feat{
    text-align: center;
}

.features .container .feat i{
    color: var(--mainColor);
}
.features .container h3{
    font-size: 24px;
    margin: 2rem 0;
    font-weight: 800;
}
.features .container p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
    width: 300px;
    margin: auto;
}
/* End Faetures */
/* Satrt Services */
.special-heading{
    letter-spacing: -15px;
    transition: all 0.3s;
    text-align: center;
    color: #ebeced;
    font-size: 150px;
    font-weight: 900;
    margin: 0;
}
.special-heading + p{
    transition: all 0.5s;
    margin: -50px 0 0 0;
    text-align: center;
    color: #797979;
    font-size: 25px;
}

.services{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.services .service-content{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    grid-gap: 30px;
    display: grid;
}

.services .service-content .service{
    display: flex;
    margin-bottom: 40px;
}
.services .service-content .service i{
    color: var(--mainColor);
    flex-basis: 60px;
}
.services .service-content .service .Text-Service{
    flex: 1;
}

.services .service-content .service .Text-Service h3{
    margin: 0;
}

.services .service-content .service .Text-Service p{
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.services .service-content .image {
    text-align: center;
    position: relative;
}

.services .service-content .image::before{
    background-color: var(--secondaryColor);
    height: calc(100% + 100px);
    position: absolute;
    border-radius: 2px;
    width: 100px;
    content: "";
    z-index: -1;
    top: -50px;
    right: 0;
}

.services .service-content .image img {
    width: 260px;
}

/* End Services */
/* Start Portfolio */
.portfolio{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBackground);
}

.portfolio .portfoilo-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .portfoilo-content .card{
    background-color: #fff;
    border-radius: 3px;
}
.portfolio .portfoilo-content .card .image{
    width: fit-content;
    overflow: hidden;
}

.portfolio .portfoilo-content .card .image img{
    width: 100%;
    transition: all 100ms;
}

.portfolio .portfoilo-content .card .image img:hover{
    transform: scale(1.5);
}

.portfolio .portfoilo-content .card .info{
    padding: 20px;
}

.portfolio .portfoilo-content .card .info h3{
    margin: 0;
}

.portfolio .portfoilo-content .card .info p{
    margin-bottom: 0;
    line-height: 1.4;
    color: #777;
    
}
/* End Portfolio */
/* Start About */
.about{
    padding-top: var(--sectionPadding);
    padding-bottom: calc(var(--sectionPadding) + 80px);
}


.about .about-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .image{
    width: 250px;
    height: 375px;
    position: relative;
}

.about .about-content .image::before {
    background-color: #ebeced;
    height: calc(100% + 80px);
    position: absolute;
    width: 100px;
    left: -20px;
    content: "";
    z-index: -1;
    top: -40px;
}

.about .about-content .image::after {
    border-bottom: 80px solid var(--mainColor);
    border-left: 80px solid var(--mainColor);
    position: absolute;
    height: 300px;
    right: -150px;
    width: 120px;
    content: "";
    z-index: -1;
    top: -40px;
}

.about .about-content .image img{
    max-width: 100%;
}

.about .about-content .text-about{
    flex-basis: calc(100% - 500px);

}
.about .about-content .text-about p:first-child{
    font-size: 19px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 50px;
}
.about .about-content .text-about hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text-about p:last-child{
    line-height: 1.5;
    font-size: 19px;
    color: #777;

}

/* End About */
/* Start Contact */
.contact{
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--sectionBackground);
}

.contact .info{
    text-align: center ;
}

.contact .info .lable{
    color: var(--secondaryColor);
    letter-spacing: -2px;
    padding-top: 40px;
    font-weight: 900;
    font-size: 35px;
    margin: 0;
}
.contact .info a{
    color: var(--mainColor);
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 35px;
    text-decoration: none;
}
.contact .info .social{
    margin-top: 20px;
    font-size: 16px;
    color: var(--secondaryColor);
}
/* End Contact */
/* Start Footer */
.footer{
    background-color: var(--secondaryColor);
    padding: 20px;
}
.footer h3{
    text-align: center;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
}
.footer h3 span{
    color: var(--mainColor);
    margin: 0;
    padding: 0;
}
/* End Footer */